sudo: required
services:
  - docker

before_install:
  -docker build -t adarshaug/simple-app .
  -echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  -docker push adarshaug/simple-app
  