sudo: required
services:
  - docker
env:
  global:
    - IMAGE_NAME=adarshaug/simple-app
before_script:
 
script:
  -docker build -t "${IMAGE_NAME}" .
  

after_script:
  - docker images

before_deploy:
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
deploy:
  provider: script
  script: docker push "${IMAGE_NAME}:latest"
  on:
    branch: master